* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
  background-color:#FEF5EE;
}
li{
  list-style-type: none; /*Удаление маркеров в меню*/
  line-height: 3;
}
.header{
  height: 130px;
  font-size: 60px;
  color: white;
  /*font-family: 'Courgette', cursive;*/
  text-align: center;
	background:linear-gradient(to bottom, rgb(133,116,116),#FEF5EE);
	padding-top: 20px;
}
.main{
	width: 100%;
	height: 100%;
}
.menu{
  text-align: center;
	float: left;
  width: 25%;
  font-size: 20px;
	margin-top: 50px;
  height: 100%;
}
.footer{
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  background: #9F878B; /* Цвет фона */
  color: #FEF5EE; /* Цвет текста */
  width: 100%;
}
li a {
  display: block;
  color: #474747;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
	background: linear-gradient(to right, #474747,rgba(133,116,116,0));
	color: #474747;
}
.table_content{
  width: 75%;
  float: right;
	height: 100%;
  text-align: center;
  display: inline-table;
}
table{
  width: 90%;
  margin: 90px 20px 20px 0;
  text-align: center;
  border: black;
  border-collapse: collapse;
}
th, td, tr{
  padding: 10px 10px 10px 10px;
  width: 100px;
}
th{
  background: linear-gradient(to bottom, #474747,rgba(133,116,116,0));
}

.table2{
	width: 90%;
  margin: 90px 20px 20px 0;
  text-align: center;
  border-collapse: collapse;
	background-color: yellow;
}
.table3{
	width: 75%;
  float: right;
	height: 100%;
  text-align: center;
  display: inline-table;
}
